<?xml version='1.0' encoding='utf-8'?>
<plugin id="hu.bme.iit.cordova" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OpenscaleIntegration</name>
    <js-module name="OpenscaleIntegration" src="www/OpenscaleIntegration.js">
        <clobbers target="cordova.plugins.OpenscaleIntegration" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0" />
        <engine name="cordova-android" version=">=9.0.0" />
    </engines>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OpenscaleIntegration">
                <param name="android-package" value="hu.bme.iit.cordova.OpenscaleIntegration" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="com.health.openscale.READ_WRITE_DATA" />
            <queries>
                <package android:name="com.health.openscale" />
            </queries>
        </config-file>
        <source-file src="src/android/OpenscaleIntegration.java" target-dir="src/hu/bme/iit/cordova/OpenscaleIntegration" />
    </platform>
</plugin>